@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-family: 'Bungee', sans-serif;
  }
  .border-hover:hover {
    color: #ff6647 !important;
  }
}
